html {
    background: blue;
    margin: 0 auto;
}

body {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
}

.maillogo {
    margin: 0 auto;
    text-align: center;

}
header {
    height: 100px;
    color: white;
    display: block;
    margin: 0 auto;
    background: blue;
}

h1.welcome {
    color: white;
    font-size: 30px;
    text-align: center;
}

.webform {
    /* background: white; */
    display: block;
    width: 600px;
    margin: 0 auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

form {
    border: 3px;
    border-radius: 8px;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 20px;
}

.entry {
    top: 50%;
    left: 50%;
    border: 30px;

}

.content {
    border: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    color: white;
}

.emailaddress {
    display: block;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    color: #ccc;
    top: 30%;
    left: 30%;
    
    }

.password {
display: block;
background-color: white;
padding: 10px;
margin: 0 auto;
margin-bottom: 20px;
border-radius: 8px;
width: 85%;
border: 1px solid #ccc;
text-align: left;
font-size: 20px;
font-weight: 100;
color: #ccc;

}

.loginbutton {
    display: block;
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;

}

.loginbutton:hover {
    background-color: gray;
}

footer {
    background: blue;
    color: white;
    width: 600px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline;
}   

.bottomtext {
    width: 100%;
    padding-top: 40px;
}
a.noaccount {
    float: right;
}

a.forgotpassword:hover {
    color: grey;
}

span.getstarted {
    font-weight: bold;
}

span.getstarted:hover {
    color: grey;
}